/*
  Custom styles for Trackster App
*/

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

/* Header styles */

.header {
  background-color: rgb(35, 2, 63);
  padding: 2.75rem 0;
  display: flex;
  align-items: center;
}

.header h1 {
  text-transform: lowercase;
  font-family: 'Righteous',serif;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.btn-primary {
  background-color: rgb(255, 0, 171);
  border-color: rgb(255, 0, 171);
}

.btn-primary:hover {
  background-color: rgb(255, 102, 204);
  border-color: rgb(255, 102, 204);
}

button:active {
  outline: none;
}

.btn {
  padding: 10px 33px;
  border-radius: 19px;
}

.fa-search {
  color: rgb(35, 2, 63);
  border-radius: 19px;
}

input {
  border-radius: 19px;
  padding: 10px 0;
  margin-right: 0.5rem;
}

input:focus {
  outline: none;
}

/* Column headers */

#column-headers {
  display: flex;
  align-items: center;
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.fa-play-circle-o {
  color: rgb(255, 0, 171);
}

/* Data field */

.track-styles {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

.track-styles:hover {
  background-color: rgb(239, 237, 242);
}
